name: Build and run tests

on:
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout target repo
        uses: actions/checkout@v1

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Make mvnw executable
        run: chmod +x ./mvnw

      - name: Verify
        run: ./mvnw clean verify --no-transfer-progress